:root {
  --my-blue: #4bb2df;
  --border-blue:#d1eef6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
body {
  min-height: 110vh;
}
.special_btn{
  padding: 10px 25px;
}
.section_ttl_holder{
  text-align: center;
}
/**************/
/**header**/
header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 7px 3px #efefef;
  z-index: 5;
}
#menu_holder > div {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
}
#menu_holder > div.active {
  color: var(--my-blue);
}
#menu_holder > div a:hover {
  color: var(--my-blue) !important;
}
#menu_bars {
  font-size: 18px;
}
/*************/
/**Home**/
section#home{
  margin-top: 72px;
  padding: 50px 0 70px 0;
  background-color: #f9f9f9;
}
#home_img img{
  width: 100%;
}
/************/
/**about**/
section#about{
  padding: 50px 0 0 0;
}
#about_img{
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 450px;
  height: 100%;
  max-height: 100%;
  background: url("../images/about.jpg") center no-repeat;
  background-size: cover;
}
#play_icon{
  display: grid;
  place-items: center;
  width: 80px;
  aspect-ratio: 1;
  color: #fff;
  background-color: var(--my-blue);
  border-radius: 50%;
}
.media_icon_holder{
  display: grid;
  place-items: center;
  width: 52px;
  aspect-ratio: 1;
  font-size: 30px;
  color: var(--my-blue);
  border: 1px solid var(--border-blue);
  border-radius: 100%;
}
.media_body >p{
  font-size: 14px;
}
#about_achievements{
  padding: 70px 0;
}
.achievement_count{
  color: var(--my-blue);
  font-size: 35px;
  font-weight: 600;
}
.achievement_ttl{
  font-size: 16px;
}
#clients{
  padding: 50px 0;
}
#clients_holder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#clients_holder>div{
  display: grid;
  place-items: center;
  width: 220px;
  height: 120px;
  margin: 2px;
  padding: 10px 45px;
  outline: 1px solid #ccc;
}
#clients_holder img{
  width: 100%;
}
/***************************/
/**SERVICES**/
#services{
  padding: 50px 0;
  background-color: #f3fbfe;
}
.service_item{
  position: relative;
  padding: 25px 15px 25px 70px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #eee;
  font-size: 15px;
  overflow: hidden;
}
.service_item_icon{
  position: absolute;
  top: 35%;
  left: -20px;
}
.service_item_icon i::before{
  font-size: 60px;
}
/***************************/
/**media**/
@media (max-width: 992px) {
  /**Home**/
  section#home{
    padding: 30px 0 70px 0;
  }
  #home_ttl{
    font-size: 2.5rem;
  }
  #home_img{
    display: flex;
    justify-content: center;
  }
  #home_img img{
    width: 50%;
  }
}
@media (max-width: 768px) {
  /**Home**/
  #home_ttl{
    font-size: 25px;
  }
  #home_img{
    display: flex;
    justify-content: center;
  }
  #home_img img{
    width: 70%;
  }
}