:root {
  --my-blue: #4bb2df;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
body {
  min-height: 110vh;
}
.special_btn{
  padding: 10px 25px;
}
/***************************/
/**header**/
header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 7px 3px #efefef;
  z-index: 5;
}
#menu_holder > div {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
}
#menu_holder > div.active {
  color: var(--my-blue);
}
#menu_holder > div a:hover {
  color: var(--my-blue) !important;
}
#menu_bars {
  font-size: 18px;
}
/***********************/
/**Home**/
section#home{
  margin-top: 72px;
  padding: 50px 0 70px 0;
  background-color: #f9f9f9;
}
#home_img img{
  width: 100%;
}
/***************************/
/**media**/
@media (max-width: 992px) {
  /**Home**/
  section#home{
    padding: 30px 0 70px 0;
  }
  #home_ttl{
    font-size: 2.5rem;
  }
  #home_img{
    display: flex;
    justify-content: center;
  }
  #home_img img{
    width: 50%;
  }
}
@media (max-width: 768px) {
  /**Home**/
  #home_ttl{
    font-size: 25px;
  }
  #home_img{
    display: flex;
    justify-content: center;
  }
  #home_img img{
    width: 70%;
  }
}